# الأساسيات البرمجية
numpy

# مكتبات الرصد والتحكم في الشبكة
scapy

# مكتبات الربط مع الذكاء الاصطناعي (OpenAI & LangChain)
openai
python-dotenv
langchain
langchain-openai
langchain-community

# مكتبات إضافية لدعم العمليات المستقلة
pandas
