<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system"> <!-- محاولة الحصول على صلاحيات النظام -->

    <!-- تصاريح اختراق وحقن الترددات الحقيقية -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> <!-- للتحكم بالراديو -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions"/>
    
    <!-- تصاريح الأداء العالي ومنع الخمول -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <!-- تصاريح الرصد الجغرافي والمزامنة -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".AegisApplication"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Aegis">

        <!-- واجهة التحكم التكتيكية -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Aegis.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- خدمة الرادار والتحييد المستمرة في الخلفية -->
        <service
            android:name=".service.AegisService"
            android:foregroundServiceType="specialUse" 
            android:exported="false">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_CATEGORY" 
                      android:value="Tactical Signal Processing"/>
        </service>

        <!-- التشغيل الذاتي عند إقلاع الجهاز -->
        <receiver android:name=".receiver.BootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
